<p style="text-align: center; color: rgb(101, 101, 101); font-weight:bold;">
    Icons created by gabriella- - <a href="https://www.flaticon.com/free-icons/ui" title="ui icons" style="color: rgb(101, 101, 101);">Flaticon</a> | Copyright &copy; 2024 Tzai Camp
</p>
