<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" style="margin-left: 1em;">魔法筆記本</a>
    <ul class="navbar-nav mr-auto">
      <!-- li -->
    </ul>
    <form class="d-flex" id="search-form">
      <input class="form-control me-2" type="search" placeholder="查找頁碼" aria-label="Search" id="search-input">
      <button class="btn btn-outline-success" id="search-btn" type="button">Search</button>
    </form>
</nav>

<script type="text/javascript" src="../../src/header.js"></script>
