<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" style="margin-left: 1em;">28載營 | 密室逃脫</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">首頁</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pa">12400</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pd">23880</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pe">52637</a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-input">
      <button class="btn btn-outline-success" id="search-btn" type="button">Search</button>
    </form>
</nav>

<script type="text/javascript" src="../../src/header.js"></script>
