<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Developing...</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/pa">Problem A</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="/pb">Problem B</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pc">Problem C</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/pd">Problem D</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/pe">Problem E</a>
      </li> -->
    </ul>
</nav>