<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="jumbotron body-top">
    
    <form>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                <input type="text" id="alphDisplay" class="form-control form-control-lg" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">1</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">2</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">3</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">4</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">5</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">6</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">7</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">8</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">9</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">0</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">Q</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">W</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">E</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">R</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">T</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">Y</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">U</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">I</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">O</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">P</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">A</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">S</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">D</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">F</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">G</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">H</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">J</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">K</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">L</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-send"> <i class="material-icons">&#xe163;</i> </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">Z</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">X</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">C</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">V</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">B</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">N</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn">M</button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-backspace"> <i class="material-icons">&#xe5c4;</i> </button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-clear"> <i class="material-icons">&#xe5c9;</i> </button>
                </div>
                <div class="col">
                <button type="button" class="btn btn-secondary btn-lg w-100 alph-btn" disabled>&nbsp;</button>
                </div>
            </div>
        </div>
    </form>

    <div class="container" style="margin-top: 1em;" id="judge-result"> </div>
    
</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
    <!-- <p style="text-align-last: center;">AAAAAAA</p> -->
</footer>

<script type="text/javascript" src="../../src/pd.js"></script>

</body>
</html>